* {
    margin: 0;
    padding: 0;
}
body {
    width: calc(100% - 20px);
    margin: 10px auto;
}
li {
    list-style: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.grid > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: auto;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .grid {
        display: block;
    }
}
